.container {
    display: flex;
    flex-direction: column;
}

.example-form {
    display: flex;
    flex-direction: column;
}

.form-heading{
    display: flex;
    justify-content: center;
}

.submit-form-btn{
    display: flex;
    justify-content:flex-end ;

}